#wrapper{
  width:900px;
  margin: 0 auto; 
}
body{
  background: transparent url('/images/body_bg.png') repeat-x;
  background-color: #5f5f5f;
  color: white;
}

#menu{
  width:100px;
  float:left;
}

#content{
  width:800px;
  float:right;
}

#footer {
  clear:both;
}
ul
{
list-style-type: none;
padding: 0px;
margin: 0px;
}

#container
{
  height:600px;
}
