#wrapper{
  width:900px;
  margin: 0 auto; 
}

#menu{
  width:100px;
  float:left;
}

#content{
  width:800px;
  float:right;
}

#footer {
  clear:both;
}
ul
{
list-style-type: none;
padding: 0px;
margin: 0px;
}

#container
{
  height:600px;
}

table
{
  width: 100%;
}

